# Python Lists


In Python, lists allow us to store a multiple of items in a single variable.

We create a list by placing elements inside square brackets [ ]


### List Characteristics

- Ordered  :- They maintain the order of elements.
- Changeable  :- meaning that we can change, add, and remove items in a list after it has been created.
- Allow duplicates :- They can contain duplicate values.

In [1]:
# In list we can store strings, integers,boolean  also

names=["sachin","samskruthi","shetty","sai"]
print(names)
age=[24,24,25,26]
print(age)

['sachin', 'samskruthi', 'shetty', 'sai']
[24, 24, 25, 26]

In [2]:
# To determine how many items a list has, use the len() function

names=["sachin","samskruthi","shetty","sai"]
print(len(names))

4

In [3]:
# with The help of type() function we can find data type of a list

names=["sachin","samskruthi","shetty","sai"]
print(type(names))

<class 'list'>

In [4]:
# use the list() constructor when creating a new list.

fruits = list(("apple", "banana", "cherry"))      ##  use double round-brackets
print(fruits)

['apple', 'banana', 'cherry']

### Access List Items:

Each element in a list is associated with a number, known as a index.

example: 

List------------------> ["apple", "banana", "cherry"]

Index----------------->    apple= 0,        banana= 1,       cherry= 2

In [5]:
languages = ['Python', 'R', 'JAVA']

# access the first element
print(languages[0])   # Python


# access the third element
print(languages[2])   #JAVA

Python
JAVA


Python also supports negative indexing. The index of the last element is -1, the second-last element is -2, and so on.

In [6]:
languages = ['Python', 'R', 'JAVA']

# access item at index 0
print(languages[-1])    # JAVA

# access item at index 2
print(languages[-3])   # Python

JAVA
Python

In Python, it is possible to access a section of items from the list using the slicing operator :

In [7]:
Letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

# items from index 2 to index 4
print(Letters[2:5])

# items from index 5 to end
print(Letters[5:])

# items beginning to end
print(Letters[:])

['C', 'D', 'E']
['F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

### Change List Items:

We can change the items of a list by assigning new values using the = operator.

In [8]:
citys=["Mysore","Bangalore","Mangalore"]
print(citys)

# changing the third item to 'Sakleshpur'
citys[2]="Sakleshpur"
print(citys)


#Here, we have replaced the city  'Mangalore' with 'Sakleshpur'

['Mysore', 'Bangalore', 'Mangalore']
['Mysore', 'Bangalore', 'Sakleshpur']

In [9]:
# We can change the value of items within a specific range

citys=["Mysore","Bangalore","Mangalore","Sakleshpur","Hassan"]
citys[2:4]=["Hubli","Belgaum"]
print(citys)


# here,change  the values "Mangalore"and "Sakleshpur" with the values "Hubli" and "Belgaum"

['Mysore', 'Bangalore', 'Hubli', 'Belgaum', 'Hassan']

In [10]:
# Change the second and third value by replacing it with one value

citys=["Mysore","Bangalore","Mangalore"]
citys[1:3]=["sakleshpur"]
print(citys)

['Mysore', 'sakleshpur']

### Add Elements to a Python List:

We use the append() method to add an element to the end of a Python list.

In [11]:
citys=["Mysore","Bangalore","sakleshpur"]
citys.append("Hassan")
print(citys)

['Mysore', 'Bangalore', 'sakleshpur', 'Hassan']

The insert() method adds an element at the specified index

In [12]:
## insert 'Hassan' at index 2

citys=["Mysore","Bangalore","sakleshpur"]
citys.insert(1,"Hassan")
print(citys)

['Mysore', 'Hassan', 'Bangalore', 'sakleshpur']


We use the extend() method to add elements to a list from other iterablesm  ( other List or string).

In [13]:

citys=["Mysore","Bangalore","sakleshpur"]

In [14]:
#  With The help of extend() Method we can add any iterable object (string,tuples, sets, dictionaries etc.)

citys=["Mysore","Bangalore","sakleshpur"]
citys_1=("Tumakuru","Hassan")
citys.extend(citys_1)
print(citys)

['Mysore', 'Bangalore', 'sakleshpur', 'Tumakuru', 'Hassan']

### Remove an Item From a List:

We can remove an item from a list using the remove() method.

In [15]:
# remove Mysore from the list

citys=["Mysore","Bangalore","sakleshpur"]
citys.remove("Mysore")
print(citys)

['Bangalore', 'sakleshpur']

Remove Specified Index  

With the help of pop() method removes the specified index.

In [16]:

citys=["Mysore","Bangalore","sakleshpur"]
citys.pop(2)
print(citys)

['Mysore', 'Bangalore']

The del statement  also removes one or more specified items from a list.

In [17]:
spices = ["Cardamom", "Pepper", "Turmeric"]

# deleting the 1st item.
del spices[0]
print(spices)

['Pepper', 'Turmeric']

### Python--Loop Lists:

We can use a for loop to iterate over the elements of a list.

In [18]:
citys=["Mysore","Bangalore","sakleshpur"]

# iterate through the list
for a in citys:
    print(a)

Mysore
Bangalore
sakleshpur

 We can Use the range() and len() functions to create a suitable iterable.

In [19]:
for a in range(len(citys)):
 print(citys[a])

Mysore
Bangalore
sakleshpur

###  Using a While Loop:


- we can loop through the list items by using a while loop.
- Use the len() function to determine the length of the list.
- then start at 0 and loop your way through the list items by referring to their indexes.
- Remember to increase the index by 1 after each iteration.

In [20]:
citys=["Mysore","Bangalore","sakleshpur"]

In [21]:
citys=["Mysore","Bangalore","sakleshpur"]
i = 0
while i < len(citys):
  print(citys[i])
  i = i + 1

Mysore
Bangalore
sakleshpur

### List Comprehension in Python:

when  we want to create a new list based on the values of an existing list.



###### Example:    
           Based on a list of citys, we want a new list, containing only the citys with the letter "s" in the name.

In [22]:
citys=["Mysore","Bangalore","sakleshpur"]

In [23]:
citys=["Mysore","Bangalore","sakleshpur"]
newlist=[]

for x in citys:
    if "s" in x:
        newlist.append(x)
    print(newlist)

['Mysore']
['Mysore']
['Mysore', 'sakleshpur']

In [24]:
# we can use all that with only one line of code. 

citys_1 = [x for x in citys if "s" in x]
print(citys_1)

['Mysore', 'sakleshpur']

In [25]:
for x in citys:
    if "l" in x:
        print(x)

Bangalore
sakleshpur

####  new list Syntax  newlist = [expression for item in iterable if condition == True]

The condition is like a filter that only accepts the items that valuate to True.

In [26]:
citys=["Mysore","Bangalore","sakleshpur"]

# create newlist.
newlist = [x for x in citys if x != "Mysore"]

In [27]:
print(newlist)

['Bangalore', 'sakleshpur']

In [28]:
newlist = [x for x in citys]
print(newlist)

['Mysore', 'Bangalore', 'sakleshpur']

### Iterable:
- The iterable can be any iterable object, like a list, tuple, set etc.
- we can use the range() function to create an iterable:

In [29]:
newlist = [x for x in range(20)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
# only numbers lower than 10:


newlist = [x for x in range(10) if x < 10]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
for x in range(15):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

### Expression:

The expression is the current item in the iteration, but it is also the outcome, which we can manipulate before it ends up like a list item in the new list.

In [32]:
# Set the values in the new list to upper case: 

citys=["Mysore","Bangalore","sakleshpur"]
newlist=[x.upper()  for x in citys]
newlist

['MYSORE', 'BANGALORE', 'SAKLESHPUR']

In [33]:
newlist = ['Hassan' for x in citys]
newlist

['Hassan', 'Hassan', 'Hassan']

##  Python List sort():

The list's sort() method sorts the elements of a list

The sort() method can take two optional keyword arguments:
- reverse - By default False. If True is passed, the list is sorted in descending order.
- key - Comparion is based on this function.

In [34]:
# Sort the list alphabetically

names= ["sachin","arjun","gagan","samskruthi","nihal"]
names.sort()
print(names)

['arjun', 'gagan', 'nihal', 'sachin', 'samskruthi']

In [35]:
# Sort the list numerically.

marks = [100, 98, 65, 82, 35]
marks.sort()
print(marks)

[35, 65, 82, 98, 100]

#### Sort Descending:
         
We can sort a list in descending order by setting reverse to True.

In [36]:
# use the list alphabetically.

names= ["sachin","arjun","gagan","samskruthi","nihal"]
names.sort(reverse = True)
print(names)

['samskruthi', 'sachin', 'nihal', 'gagan', 'arjun']

In [37]:
# use  the list numerically.
marks = [100, 98, 65, 82, 35]
marks.sort(reverse = True)
print(marks)

[100, 98, 82, 65, 35]

#### key = function

The sort() method can sort items based on a function

In [38]:
names= ["sachin","arjun","gagan","samskruthi","nihal","darshan patla","ram"]

# stort strings based on their length
names.sort(key = len)
print(names)

['ram', 'arjun', 'gagan', 'nihal', 'sachin', 'samskruthi', 'darshan patla']

In [39]:
names.sort(key = str.lower)
print(names)

['arjun', 'darshan patla', 'gagan', 'nihal', 'ram', 'sachin', 'samskruthi']

If we  want to reverse the order of a list, regardless of the alphabetWIth We  can use  reverse() method

In [40]:
# With the help of  reverse() method 



names= ["sachin","arjun","gagan","samskruthi","nihal","darshan patla","ram"]
names.reverse()
print(names)

['ram', 'darshan patla', 'nihal', 'samskruthi', 'gagan', 'arjun', 'sachin']

###  Copy Lists

In [41]:
# With the  help of   copy() method .we can copy values from list1 to list 2.

list1=["python","java","R program"]
list2=list1.copy()
print(list2)

['python', 'java', 'R program']

## Join Lists:
 
There are many ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

we can use  following Ways to Merge a List in Python
- 1. Append 
- 2. "+" operator 
- 3. For Loop
- 4. Extend

In [42]:
# The '+' operator can be used to join two lists.

list1 = [10, 11, 12, 13, 14] 
list2 = [20, 30, 42] 

res = list1 + list2 
print(res)

[10, 11, 12, 13, 14, 20, 30, 42]

In [43]:
# The append method will add an item to the end of the list.

list1 =["python","java","R program"]
list2= [10, 11, 12, 13, 14] 
list1.append(list2)
print(list1)

['python', 'java', 'R program', [10, 11, 12, 13, 14]]

In [44]:
# The extend method will extend the list by appending all the items from the iterable.

list1 =["python","java","R program"]
list2= [10, 11, 12, 13, 14] 
list1.extend(list2)
print(list1)

['python', 'java', 'R program', 10, 11, 12, 13, 14]

In [45]:
# The first for loop goes through the lists (for x in list2).

# Then, it will append each element

list1 =["python","java","R program"]
list2= [10, 11, 12, 13, 14] 

for x in list2:
  list1.append(x)
      
print(list1)

['python', 'java', 'R program', 10, 11, 12, 13, 14]