# Python Sets:



A set is a collection of unique data, meaning that elements within a set cannot be duplicated.


For instance, if we need to store information about student IDs, a set is suitable since student IDs cannot have duplicates.

In Python, we create sets by placing all the elements inside curly braces {}, separated by commas.

A set can have any number of items and they may be of different types (integer, float, tuple, string, etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.


## Characteristics:
         
- Sets are unordered :- items in a set do not have a defined order.
  Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

- Set elements are unique:-  Duplicate elements are not allowed.

- Unchangeable:-   Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### NOTE:-  
- Once a set is created, you cannot change its items, but you can remove items and add new items.

- The values True and 1 are considered the same value in sets, and are treated as duplicates:

- The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [1]:
#  create a set of string type

citys={"Bengaluru","Mangaluru","Mysore","Sakaleshpur","Hassan"}
print(citys)

# create a set of integer type
id = {112, 114, 116, 118, 115}
print(id)


# create a set of mixed data types
mixed = {'Hello', 101, -2, 'Bye'}
print(mixed)

{'Hassan', 'Mangaluru', 'Sakaleshpur', 'Bengaluru', 'Mysore'}
{112, 114, 115, 116, 118}
{'Hello', 101, -2, 'Bye'}

True and 1 is considered the same value In sets

In [2]:
set = {"apple", "banana", "cherry", True, 1, 2}

print(set)

{True, 2, 'cherry', 'apple', 'banana'}

False and 0 is considered the same value

In [3]:
set = {"apple", "banana", "cherry", False, True, 0}

print(set)

{False, True, 'cherry', 'apple', 'banana'}

#### Duplicate Items in a Set

In [4]:
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)


# Here,  we can see OUTPUT there are no duplicate items in the set as a set cannot contain duplicates.

{8, 2, 4, 6}

In [5]:
#  with the help of  len() function. To determine how many items a set

citys={"Bengaluru","Mangaluru","Mysore","Sakaleshpur","Hassan"}
print(len(citys))

5

In [6]:
#  with the type() we can find out data type
citys={"Bengaluru","Mangaluru","Mysore","Sakaleshpur","Hassan"}
print(type(citys))

<class 'set'>

## Access Items:
      
      we cannot access items in a set by referring to an index or a key.
      Once a set is created, we cannot change its items, but you can add new items.
      
      
#### NOTE;

- we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [7]:
names = {"sachin","samskruthi","tejas"}

for x in names:
  print(x)

tejas
sachin
samskruthi

In [8]:
# Check if "sachin" is present in the set:

print("sachin" in  names)

True

In [9]:
print("sachin" not in names)

False

## Add Set Items:

- In Python, we use the add() method to add an item to a set.
- The update() method is used to add items from another set into the current set and update the set with items other
   collection types (lists, tuples, sets, etc).

In [10]:
#  with the help of  add() method we can  add item To set.

numbers = {21, 34, 54, 12}

numbers.add(563)   #  add 563 to set using add() method
print(numbers)

{34, 12, 563, 21, 54}

In [11]:
# with the help of update() method Add items from another set into the current set

numbers = {21, 34, 54, 12}
names = {"sachin","tejas","darshan"}
numbers.update(names)
print(numbers)

{34, 21, 54, 'darshan', 'tejas', 12, 'sachin'}

In [12]:
#  we can update the set with items other collection types (lists, tuples, sets, etc).

companies = {'Lacoste', 'Ralph Lauren'}    # set

tech_companies = ['apple', 'google', 'Amazon']  # list

companies.update(tech_companies)
print(companies)

{'Lacoste', 'Amazon', 'Ralph Lauren', 'google', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("Sachin")

print(thisset)

{'cherry', 'banana', 'apple'}

## Remove an Element from a Set:

We  can use the discard() or remove() method to remove the specified element from a set.
- remove() 
-  discard()

In [14]:
# With The help od remove() we can Remove elements.
companies = {'apple', 'google', 'Amazon'}

companies.remove("apple")

print(companies)

{'Amazon', 'google'}

##### Notes: 
- If the item to remove does not exist, remove() will raise an error.
- If the item to remove does not exist, discard() will NOT raise an error.

In [15]:
# With the help of discard() we can Remove elements.

languages = {'R', 'Java', 'Python'}

languages.discard("Java")

print(languages)

{'Python', 'R'}

In [16]:
# The clear() method empties the set

set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

In [17]:
# del keyword will delete the set completely

set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

## Python Set Operations  (Join Sets):

There are several ways to join two or more sets in Python.

- The union() and update() methods joins all items from both sets without duplicates



- The intersection() of two sets is the set that contains all of the common elements of both sets.



- The difference() method keeps the items from the first set that are not in the other set(s).



- The symmetric_difference() method keeps all items EXCEPT the duplicates.

### Set Union:


To find the union of two Python sets, use the union() method or     the | syntax.

In [18]:
# with the help of union () method.
set1 = {11, 22, 33}
set2 = {33, 54, 75}
set3 = set1.union(set2)
print(set3)

# with the help of  | syntax.

set1 = {11, 22, 33}
set2 = {33, 54, 75}
set3 = set1|set2
print(set3)

# Here 33 is contain set1 and set2 bu In out put 33 present in single Time.

{33, 22, 54, 75, 11}
{33, 22, 54, 75, 11}

### Update

In [19]:
# with the help of union () method.
set1 = {11, 22, 33}
set2 = {33, 54, 75}
set1.update(set2)
print(set1)

{33, 22, 54, 75, 11}

### Intersection:

- the intersection() of two sets is the set that contains all of the common elements of both sets.


- To find the intersection of two Python sets, we can either use the intersection() method or & operator.

In [20]:
# Perform intersection operation using intersection()` method

set1 = {11, 22, 33}
set2 = {33, 54, 75}

set3 = set1.intersection(set2)

print(set3)


#  Perform intersection operation using the `&` operator

set1 = {11, 22, 33}
set2 = {33, 54, 75}

set3 = set1&set2

print(set3)

# Keep ONLY the Duplicates

{33}
{33}

### Difference:

- The difference() method keeps the items from the first set that are not in the other set()

- we can  use the difference() function or the – operator in python.

In [21]:
# Using the difference() method
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set1.difference(set2)
print(set3)


# Using the - operator

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set1-set2
print(set3)

{1, 2}
{1, 2}

### Symmetric Differences:

- The symmetric_difference() method keeps all items EXCEPT the duplicates.

- we can use symmetric difference() function or the ^ operator to achieve this.

In [22]:
# Using the symmetric_difference() method
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set1.symmetric_difference(set2)
print(set3)


# Using the ^ operator
set4 = set1 ^ set2
print(set4)

{1, 2, 6, 7}
{1, 2, 6, 7}

## Other Set Operations in Python:


###  Issubset:
  The issubset() operation is used in Python to check whether a set is a subset of another set.

In [23]:
Set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
print(set2.issubset(set1))

# Check if set1 is a subset of set2
print(set1.issubset(set2))

True
False

### Issuperset:

The issuperset() operation in Python is used to check whether a set is a superset of another set.

A superset is a set that contains all the elements of another set.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2
print(set1.issuperset(set2))


# Check if set2 is a superset of set1
print(set2.issuperset(set1))

True
False

###  Isdisjoint:

The isdisjoint() operation in Python is used to check whether two sets have any common elements.

If the two sets have no common elements, then they are said to be disjoint.

In [25]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

# Check if set1 and set2 are disjoint.
print(set1.isdisjoint(set2))


set3 = {4, 5, 6}
set4 = {6, 7, 8}

# Check if set3 and set4 are disjoint.
print(set3.isdisjoint(set4))

True
False