# Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks

In [1]:
print("sachin")
print('sachin')

sachin
sachin

In [2]:
# We can use quotes inside a string also,
print("My Name is 'sachin'")
print('My Name is "sachin"')

My Name is 'sachin'
My Name is "sachin"

In [3]:
# Get the character at position 1.it will take first character has the position 0

a="my name is sachin"
print(a[1])

y

In [4]:
## Print the first element in the string
a="my name is sachin"
print(a[0])

m

In [5]:
## Print the 4th element in the string
a="my name is sachin"
print(a[4])

a

Looping Through a String

In [6]:
for x  in "sachin":
    print(x)

s
a
c
h
i
n

### String Length

In [7]:
a="sachin"
print(len(a))     #  String Length

6

### Check String
To check if a certain  character is present in a string, we can use the keyword in

In [8]:
sdm="my name is sachin"
print("name"in sdm)

True

### Slicing
- Access a range of characters in a string by using the slicing operator colon

In [9]:
# Take the slice on variable name with only index 0 to index 3

name = "sachin patla"
name[0:4]

'sach'

In [10]:
#Slice From the Start
name[:4]

'sach'

In [11]:
# Slice To the End
name[4:]

'in patla'

### Negative Indexing
We can also use negative indexing with strings:

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [12]:
name = "sachin patla"
print(name[-1])
print(name[-5:-2])

a
pat

### String Operations

There are many string operation methods in Python that can be used to manipulate the data. Now We can use some basic string operations on the data.

Upper Case

In [13]:
#upper() method returns the string in upper case

name="sachin"
print(name.upper())

SACHIN

Lower Case

In [14]:
# lower() method returns the string in lower case
name="Sachin"
print(name.lower())

sachin

Replace String

In [15]:
#The replace() method replaces a string with another string

name="sachin patla"
print(name.replace("patla","PB"))

sachin PB

Split String

In [16]:
# The split() method breaks down a string into a list of substrings using a chosen separator

a = "sachin patla"
print(a.split( ))

['sachin', 'patla']

### Concatenation Strings

In [17]:
# In Python, we can join  two or more strings using the + operator.

a="sachin"
b="patla"
c=a+b
print(c)

sachinpatla

In [18]:
# To add a space between a and b 

a="sachin"
b="patla"
c=a+ " " +b
print(c)

sachin patla

### Strings-Format 
- we cannot combine strings and numbers directly
- we can combine strings and numbers by using f-strings or the format()
-  We can use f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [19]:
age = 36
txt = "My name is sachin, I am " 
c=age+txt
print(c)                              # we cannot combine strings and numbers like this

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [21]:
price = 20
txt = f"one Liter  Drinking  Water Bottle price is {price} Rs"
print(txt)

one Liter  Drinking  Water Bottle price is 20 Rs

### Escape Sequences

The escape sequence is used to escape some of the characters present inside a string.
Suppose we need a new line or  we need insert  character

In [22]:
# New line escape sequence

print(" my name is sachin \n I have completed MSc in statistics" )


# "n" represents a new line.

 my name is sachin
 I have completed MSc in statistics

In [23]:
# Tab escape sequence

print(" my name is sachin \t I have completed MSc in statistics" )

 my name is sachin 	 I have completed MSc in statistics

In [24]:
# Suppose we need to include both a double quote and a single quote inside a string

a = "We are the so-called \"Vikings\" from the north."
print(a)

We are the so-called "Vikings" from the north.