# Python Tuples:

Tuples are used to store multiple items in a single variable.

A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created.


#### Tuple Characteristics:

- Ordered - They maintain the order of elements.
- Immutable - They cannot be changed after creation.
- Allow duplicates - They can contain duplicate values.

In [1]:
#  Tuples are written with round brackets.



a=(1,5,6,8,9)                        # tuple with integer
print(a)


names=("sachin","darshan","tejas")     # tuple with string 
print(names)


b=(2.5,3.6,9.8)                       # tuple with string, integer and float.
print(b)


c=(25,"sachin",2.6)     #tuple including string and integer float.
print(c)

(1, 5, 6, 8, 9)
('sachin', 'darshan', 'tejas')
(2.5, 3.6, 9.8)
(25, 'sachin', 2.6)

To create a tuple with only one item, we have to add a comma after the item, 
otherwise Python will not recognize it as a tuple.

In [2]:
#  create a tuple with only one item
n=("sachin",)
print(type(n))


#  #NOT a tuple

d=("sachin")
print(type(d))    # without add a comma after the item its consider string.

<class 'tuple'>
<class 'str'>

In [3]:
# It is also possible to use the tuple() constructor to make a tuple.

fruits = tuple(("apple", "banana", "cherry"))   # use  double round-brackets
print(fruits)

('apple', 'banana', 'cherry')

## Access Tuple Items:


Each item in a tuple is associated with a number, known as a index.

The index always starts from 0, meaning the first item of a tuple is at index 0, the second item is at index 1, and so on.

In [4]:
names=("sachin","tejas",420,"samskruthi")


# access the first item
print(names[0])        # sachin

# access the 2nd item
print(names[1])        # tejas

# access the 3nd item
print(names[2])         # 420

# access the 4th item
print(names[3])         # samskruthi

sachin
tejas
420
samskruthi

In [5]:
# Print the type of value on each index

print(type(names[0]))
print(type(names[1]))
print(type(names[2]))
print(type(names[3]))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

#### Negative Indexing
 Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item

In [6]:
# Print the last item of the tuple:

names=("sachin","tejas",420,"samskruthi")
print(names[-1])

samskruthi

In [7]:
# we  can specify a range of indexes by specifying where to start and where to end the range.

names=("sachin","tejas",420,"samskruthi")    
print(names[2:4])

(420, 'samskruthi')

In [8]:
# returns the items from the beginning to, but NOT included,420

names=("sachin","tejas",420,"samskruthi")    
print(names[:2])

print(names[2:])    # This example returns the items from "420" and to the end

('sachin', 'tejas')
(420, 'samskruthi')

To determine if a specified item is present in a tuple use the in keyword:

In [9]:
names=("sachin","tejas",420,"samskruthi")   

if "sachin" in names:
  print("yes")

yes

## Change Tuple Items:

- we cannot change the items of a tuple once created. If we try to do so, we will get an error.
- if we need to change we can convert the tuple into a list, change the list, and convert the list back into a tuple.


-  NOTE:---------- if we want to Add items To tuple or  Remove Items from tuple we can convert the tuple into a list,                          add or remove , then convert the list back into a tuple.

In [10]:
# Here we can change the items  with help of list.
  
a =("sachin","tejas",420,"samskruthi")  

# convert list and change
b = list(a)
b[1]= "thanmay"
 
# convert list to tuple

a =tuple(b)
print(b)


#############                        ADD ITEM


x =("sachin","tejas",420,"samskruthi") 
y=list(x)
y.append("patla")
x=tuple(y)
print(x)
  
    
#############                       REMOVE ITEMS


s =("sachin","tejas",420,"samskruthi") 
p=list(s)
p.remove(420)
s=tuple(p)
print(s)

['sachin', 'thanmay', 420, 'samskruthi']
('sachin', 'tejas', 420, 'samskruthi', 'patla')
('sachin', 'tejas', 'samskruthi')

## Unpacking a Tuple:
   
   Unpacking a tuple means splitting the tupleâ€™s elements into individual variables.

In [11]:
# here we create Unpacking a tuple with integers.


x, y = (1, 2)     # tuple of two variables x and y
print(x)          # tuple of two integers values 1 and 2
print(y)

1
2

In [12]:
fruits = ("apple", "banana", "cherry")

green, yellow, red = fruits

print(green)
print(yellow)
print(red)


# The number of variables must match the number of values in the tuple

apple
banana
cherry

#### Using Asterisk*:
    
    
    If the number of variables is less than the number of values, we can add an * to the variable name and the values will     be assigned to the variable as a list:

In [13]:
#Assign the rest of the values as a list called "red"

fruits = ("apple", "banana", "cherry", "strawberry", "Watermelon")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'Watermelon']

If the asterisk is added to another variable name than the last, 
Python will assign values to the variable until the number of values left matches the number of variables left.

In [14]:
fruits = ("apple", "mango", "papaya", "pineapple", "Watermelon")

green, *tropic, red = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
Watermelon

In [15]:
green, *tropic, red = ("apple", "mango", "papaya", "pineapple", "Watermelon")
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
Watermelon

## Loop Through a Tuple:

We can loop through the tuple items by using a for loop.

In [16]:
numbers=(25,68,96,45,21,63)
for x in numbers:
    print(x)

25
68
96
45
21
63

In [17]:
numbers=(25,68,96,45,21,63)
for x in numbers:
    if 68 == x:
        print("yes")

yes

In [18]:
numbers=(25,68,96,45,21,63)
for x in numbers:
    if 59 == x:
        print("yes")
    else:
          print("No")

No
No
No
No
No
No

In [19]:
# Use the range() and len() functions to create a suitable iterable.
numbers=(25,68,96,45,21,63)
for x in range(len(numbers)):
    print(numbers[x])

25
68
96
45
21
63

## Join Tuples:
    To join two or more tuples you can use the + operator:

In [20]:
# with the help of + operator  we can join 2 tuples.

tuple1 = ("sachin", "samskruthi" , "patla")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('sachin', 'samskruthi', 'patla', 1, 2, 3)

In [21]:
# If we  want to multiply the content of a tuple a given number of times, you can use the * operator

tuple = ("sachin", "samskruthi" , "patla")
tuple1 = tuple*2
print(tuple1)

('sachin', 'samskruthi', 'patla', 'sachin', 'samskruthi', 'patla')

## Tuple Methods:

  Python has two built-in methods
  
- 1)count()
- 2)index()

#### Count() :
          The count() method returns the number of times the specified element appears in the tuple.

In [22]:
# create tuple
numbers=(1,2,3,3,4,5,6,7,3,3)

# counts the number of 3 in the tuple
x = numbers.count(3)
print(x)

4

#### index():
     
     The index() method finds the first occurrence of the specified value.

In [23]:
# tuple containing vowels
vowels = ('a', 'e', 'i', 'o', 'u')

# index of 'e' in vowels
index = vowels.index('e')

print(index)

1